<mat-sidenav mode="side" opened>
  <mat-nav-list role="list">
    <mat-list-item role="listitem" routerLink="/recommendations">
      <mat-icon mat-list-icon>home</mat-icon>
      <p mat-line>Главная</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/subscriptions">
      <mat-icon mat-list-icon>subscriptions</mat-icon>
      <p mat-line>Подписки</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/history">
      <mat-icon mat-list-icon>history</mat-icon>
      <p mat-line>История</p>
    </mat-list-item>

    <mat-list-item role="listitem" routerLink="/liked-videos">
      <mat-icon mat-list-icon>thumb_up</mat-icon>
      <p mat-line>Понравившиеся</p>
    </mat-list-item>
  </mat-nav-list>
</mat-sidenav>
